*{
    font-family: 'Varela Round', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    margin-bottom: 4%;
    margin-top: 5%;
}
@media screen and (max-width: 1024px) {
    iframe{
        width: 100%;
    }
  }

@media screen and (max-width: 768px) {
    textarea{
        width: 300px;
    }
    iframe{
        width: 100%;
        margin-bottom: 5%;
    }
    form{
        padding: 20px;
    }
  }