<div class="container-fluid mx-auto margin">
  <h1 class="text-center">Welcome <span style="color: #2F80ED;">To Swirlly</span></h1>
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="assets/images/about-img.png" alt="About">
    </div>
    <div class="col-md-6 mt-3">
      <h3>All across the board swrilly is!</h3>
      <h3 class="text-justify">" A technology company with next generation ideas, building customer relationships
        and transforming ideas into business ".</h3><br>
      <h4 class="text-justify">Let me simplify it for you, A group of few computer science engineering students had started this
        company from Nagpur, Maharashtra, India around the year 2020.</h4>
      <h4 class="text-justify">"Swirly is an information technology-based company. We at swrilly, a place of expandable sources
        provide a digital solution for ( updating your business ) which will be ready to compete with the ongoing
        digital generation Market".</h4>
      <h4 class="text-justify"> In simple words, we are going to build a software application(app)or a website, which will help you run
        your business, in a digital way.</h4>
    </div>
  </div>
</div>
