<div class="container-fluid bg-light mx-auto padding">
<div class="container mx-auto">
  <h1 class="text-center">Swirlly's <span style="color: #2F80ED;">Key Phases</span></h1>
  <div class="mobile-view text-center">
    <img class="image-fluid" src="assets/images/ICONS/Key Phases/Group 309.png" alt="">
    <!-- <div class="col">
      <div class="card border border-info rounded-circle p-4 text-center">
        <img class="image-fluid p-2" src="assets/images/ICONS/Key Phases/Listen.svg" alt="">
        <div class="p-1 px-3 text-white mx-auto card-text">Listen</div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-info rounded-circle p-4 text-center">
        <img class="image-fluid p-2" src="assets/images/ICONS/Key Phases/analyse.svg" alt="">
        <div class="p-1 px-3 text-white mx-auto card-text">Analyse</div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-info rounded-circle p-4 text-center">
        <img class="image-fluid p-2" src="assets/images/ICONS/Key Phases/Design.svg" alt="">
        <div class="p-1 px-3 text-white mx-auto card-text">Design</div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-info rounded-circle p-4 text-center">
        <img class="image-fluid p-2" src="assets/images/ICONS/Key Phases/Develop.svg" alt="">
        <div class="p-1 px-3 text-white mx-auto card-text">Develop</div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-info rounded-circle p-4 text-center">
        <img class="image-fluid p-2" src="assets/images/ICONS/Key Phases/execution.svg" alt="">
        <div class="p-1 px-3 text-white mx-auto card-text">Execute</div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-info rounded-circle p-4 text-center">
        <img class="image-fluid p-2" src="assets/images/ICONS/Key Phases/Transition.svg" alt="">
        <div class="p-1 px-3 text-white mx-auto card-text">Transition</div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-info rounded-circle p-4 text-center">
        <img class="image-fluid p-2" src="assets/images/ICONS/Key Phases/Support.svg" alt="">
        <div class="p-1 px-3 text-white mx-auto card-text">Support</div>
      </div>
    </div> -->
  </div><br><br>
  <div class="row mobile-center mx-5">
    <div class="col-md-1 mt-1 text-center"><img class="image fluid" src="assets/images/ICONS/Key Phases/Listen.svg" alt=""></div>
    <div class="col-md-11 mt-1 mbl-center">
      <h4>LISTEN</h4>
      <P>Through interviews and discussion with key stakeholders, we identify and accurately determine our
        client’s needs and solution requirements with full comprehension of their vision and culture</P>
    </div>
    <div class="col-md-1 mt-1 text-center"><img class="image fluid" src="assets/images/ICONS/Key Phases/analyse.svg" alt=""></div>
    <div class="col-md-11 mt-1 mbl-center">
      <h4>Analyse</h4>
      <P>We consolidate all information gathered from our client and perform a full review to identify gaps in the
        current business processes, factoring our clients’ current processes and technology and how they may
        interface with the future design</P>
    </div>
    <div class="col-md-1 mt-1 text-center"><img class="image fluid" src="assets/images/ICONS/Key Phases/Design.svg" alt=""></div>
    <div class="col-md-11 mt-1 mbl-center">
      <h4>Design</h4>
      <P>Develop a holistic and appropriate architecture for solution delivery, prioritising tasks into 3 groups –
        Critical, Important & Optional based on the context of business needs and existing investments
      </P>
    </div>
    <div class="col-md-1 mt-1 text-center"><img class="image fluid" src="assets/images/ICONS/Key Phases/Develop.svg" alt=""></div>
    <div class="col-md-11 mt-1 mbl-center">
      <h4>Develop</h4>
      <P>Develop project plan with detailed implementation requirements, factoring resource mapping, scheduling
        and process delivery considerations
      </P>
    </div>
    <div class="col-md-1 mt-1 text-center"><img class="image fluid" src="assets/images/ICONS/Key Phases/execution.svg" alt=""></div>
    <div class="col-md-11 mt-1 mbl-center">
      <h4>Execute</h4>
      <P>Deliver project plan based on compliance standards and industry best practices, utilising change control
        to ensure adept management, effective communication and contingency planning
      </P>
    </div>
    <div class="col-md-1 mt-1 text-center"><img class="image fluid" src="assets/images/ICONS/Key Phases/Transition.svg" alt=""></div>
    <div class="col-md-11 mt-1 mbl-center">
      <h4>Transition</h4>
      <P>Upon project completion, we generate supporting documentation and conduct meeting sessions for
        appropriate and accurate knowledge transfer to ensure a smooth transition
      </P>
    </div>
    <div class="col-md-1 mt-1 text-center"><img class="image fluid" src="assets/images/ICONS/Key Phases/Support.svg" alt=""></div>
    <div class="col-md-11 mt-1 mbl-center">
      <h4>Support</h4>
      <P>Formal handoff of project back to key stakeholders, with ongoing support and scheduled re-assessments
        to ensure the solution delivered is effectively optimised
      </P>
    </div>

  </div>
</div>
</div>