*{
    font-family: 'Varela Round', sans-serif;
}

h1,h4{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
}

h1{
    margin: 7% 0;
}

img{
    width: auto;
    height: 5em;
    fill: #2F80ED;
}

.padding{
    padding-bottom: 5%;
}

.card-text{
    font-size: 12px;
    background: #2F80ED;
    border-radius: 2em;
}

.mobile-view img{
    height: 120px;
    width: auto;
}


@media screen and (max-width: 1024px) {
    .mobile-view img{
      height: 90px;
      width: auto;
    }
  }

@media screen and (max-width: 768px) {
    .mobile-view {
      display: none;
    }
    .col-md-10 p{
        margin-bottom: 6% !important;
    }
    .mobile-center .col-md-2,h4{
        margin: auto !important;
        text-align: center !important;
        margin-bottom: 2% !important;
    }
    .mbl-center{
        text-align: center;
    }
  }