* {
  font-family: 'Varela Round', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold;
  margin: 6% 0;
}

.profile {
  width: 60px !important;
  height: 60px !important;
}


.row p {
  font-size: 14px;
}

div .profile {
  height: 55px;
  width: auto;
  border-radius: 50%;
}

div .name {
  font-size: 13px;
}

/* Card animation */
.flip-box {
  background-color: transparent;
  perspective: 1000px;
  transition: transform 2s;
  margin-bottom: 3%;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front img {
  width: 100%;
  height: 100%;
}

.flip-box-back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-back {
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);
  padding: 0 15%;
}

.flip-box:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.flip-box-back h3 {
  margin-top: 25%;
}

.flip-box-back p {
  margin-top: 12%;
  width: 250px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.feedback-text{
  height: 33vh;
}

.flip-box-back a {
  margin-top: 15%;
  padding: 10px 40px;
}

@media screen and (max-width: 1024px) {
  .flip-box-back a {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 768px) {
  .flip-box {
    margin-bottom: 10% !important;
    margin-left: 3%;
    margin-right: 3%;
  }

  .flip-box-back a {
    margin-top: 5%;
  }

  .mbl-margin {
    margin-bottom: 10%;
  }
}
