<div class="container mx-auto text-center">
  <h1>Our <span style="color: #2F80ED;">Works</span></h1>
  <!-- <div class="my-5">
    <a class="px-5 h4 font-weight-bold" href="#">All</a>
    <a class="px-5 h4 font-weight-bold" href="#">App</a>
    <a class="px-5 h4 font-weight-bold" href="#">Web</a>
    <a class="px-5 h4 font-weight-bold" href="#">UI/UX</a>
  </div> -->

  <div class="row tablet-center">
    <div class="col-md-4 flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img class="image-fluid hover-text" src="assets/images/ICONS/For Swirlly/Group 229.png" alt="Project-img">
        </div>
        <div class="flip-box-back text-center">
          <h3>Oily Hand Shake</h3>
          <p class="text-justify">Oily handshake provides best services that look after your vehicles. This application
            is an innovative idea for creating a digital platforms to provide best facility and care for your vehicles.
            This application provides doorstep service and always try to comfort the customers.
            The services this application provides are:
            👉🏻regular bike and car services
            👉🏻washing services
            👉🏻manual bike or car services and much more...</p>
          <a href="#" class="btn btn-light">Visit</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img class="image-fluid hover-text" src="assets/images/ICONS/For Swirlly/Dailytroops.png" alt="Project-img">
        </div>
        <div class="flip-box-back text-center">
          <h3>Dailytroops</h3>
          <p class="text-justify">Dailytroops are on a tour via digital platforms to provide the essential home
            services. This application is a best example of how a technology can make your daily life more easier.
            Dailytroops provide services like : <br>
            👉🏻Groceries <br>
            👉🏻plumbing
            👉🏻electric issues
            👉🏻A/C services
            👉🏻Automotive service
            👉🏻medicines
            👉🏻package shipment</p>
          <a href="#" class="btn btn-light">Visit</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img class="image-fluid hover-text" src="assets/images/ICONS/For Swirlly/Group 234.png" alt="Project-img">
        </div>
        <div class="flip-box-back text-center">
          <h3>Foodie</h3>
          <p class="text-justify">Foodie app allow user to easily pick items from their sandwich menu and place order
            online which can be picked up at any of their drive locations.Our merchant can show off their best seller
            food.</p>
          <a href="https://drive.google.com/file/d/13-uTL0xXxtq3AqAS6XV2uI8UT7VTvK3g/view" target="_blank"
            class="btn btn-light">Visit</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 flip-box my-4">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img class="image-fluid hover-text" src="assets/images/ICONS/For Swirlly/Laundry.png" alt="Project-img">
        </div>
        <div class="flip-box-back text-center">
          <h3>Laundry</h3>
          <p class="text-justify">This Laundry app comes handy to get laundry services right from your doorsteps.User
            keep track on their stuffs.</p>
          <a href="https://drive.google.com/file/d/1PkZbAlqL22zQwMWo1wK6OGN-HnaLE6_x/view" target="_blank"
            class="btn btn-light">Visit</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 flip-box my-4">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img class="image-fluid hover-text" src="assets/images/ICONS/For Swirlly/MyHelper.jpg" alt="Project-img">
        </div>
        <div class="flip-box-back text-center">
          <h3>MyHelper</h3>
          <p class="text-justify">MyHelper App was very helpful when I need to find my phone location through my keypad
            mobile by just send sms to my phone , MyHelper app develop in just 2 days .This app is useful when you do
            not have internet datapack. Features of MyHelper App are very good . Thank you for giving us such an easy
            and understandable app in very short time..
            Great work with swirlly.......</p>
          <a href="#" class="btn btn-light disabled">Visit</a>
        </div>
      </div>
    </div>

    <!-- Insert here 5th card -->
    <!--
    <div class="col-md-4 flip-box my-4">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img class="image-fluid hover-text" src="assets/images/ICONS/For Swirlly/Group 234.png" alt="Project-img">
        </div>
        <div class="flip-box-back text-center">
          <h3>Oily Hand Shake</h3>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur repudiandae
            alias fugit id dicta
            consequuntur nostrum ex a dolorum voluptates quia voluptatem, reprehenderit cum quis voluptatibus cumque
            fuga
            facilis.</p>
          <a href="#" class="btn btn-light">Visit</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
<!-- What people say about us-->
<div class="container-fluid my-5 bg-light">
  <div class="container mx-auto py-5 text-justify">
    <h1 class="text-center">What people say <span style="color: #2F80ED;">About Us</span></h1>
    <div class="row mt-5">
      <div class="col-md-4 mbl-margin">
        <img class="image-fluid" src="assets/images/ICONS/People Say About Us/Group 349.png" alt="Project-img">
        <div class="pl-5">
          <p class="mb-2 feedback-text">
            I experience the quality of work they provide. I would appreciate their team efforts because of which I need
            not have to to struggle escalating main application requirements. I didn't face any issues or difficulties
            while revising the application since employees are very helpful and they assist my project in a professional
            way.
          </p>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 img-padding text-center">
              <img class="image-fluid profile" src="assets/images/ICONS/For Swirlly/Group 229.png" alt="Project-img">
            </div>
            <span class="col-md-8 col-sm-8 col-xs-8 name my-auto">
              <h6>Shubh borkar</h6>
               <!-- Regular Customer -->
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 mbl-margin">
        <img class="image-fluid" src="assets/images/ICONS/People Say About Us/Group 349.png" alt="Project-img">
        <div class="pl-5">
          <p class="mb-2 feedback-text">
            I am glad to see swirlly's professional work style and team intelligence. I would be glad to have a long
            term collaboration with swirlly.
          </p>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 img-padding text-center">
              <img class="image-fluid profile" src="assets/images/ICONS/For Swirlly/pratap.jpg" alt="Project-img">
            </div>
            <span class="col-md-8 col-sm-8 col-xs-8 name my-auto">
              <h6>Pratap shukla</h6>
              <!-- Regular Customer -->
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 mbl-margin">
        <img class="image-fluid" src="assets/images/ICONS/People Say About Us/Group 349.png" alt="Project-img">
        <div class="pl-5">
          <p class="mb-2 feedback-text">
            MyHelper App was very helpful when I need to find my phone location through my keypad mobile by just send
            sms to my phone , MyHelper app develop in just 2 days .This app is useful when you do not have internet
            datapack. Features of MyHelper App are very good . Thank you for giving us such an easy and understandable
            app in very short time..
            Great work with swirlly......
          </p>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 img-padding text-center">
              <img class="image-fluid profile" src="assets/images/ICONS/For Swirlly/rupal.jpeg" alt="Project-img">
            </div>
            <span class="col-md-8 col-sm-8 col-xs-8 name my-auto">
              <h6>Rupal Raut</h6>
               <!-- Regular Customer -->
            </span>
          </div>
        </div>
      </div>
      <!-- For 4th customer -->
      <!-- <div class="col-md-3 mbl-margin">
        <img class="image-fluid" src="assets/images/ICONS/People Say About Us/Group 349.png" alt="Project-img">
        <div class="pl-5">
          <p class="mb-2">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever
          </p>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 img-padding text-center">
              <img class="image-fluid profile" src="assets/images/ICONS/For Swirlly/Group 229.png" alt="Project-img">
            </div>
            <span class="col-md-8 col-sm-8 col-xs-8 name my-auto">
              <h6>Full Name</h6> Regular Customer
            </span>
          </div>
        </div>
      </div> -->

      <!-- view more -->
      <!-- <a class="text-center mx-auto my-5" style="color: #2F80ED;">view more</a> -->
    </div>
  </div>
