  <!-- What we offer -->
  <div class="container mx-auto">
    <h1 class="text-center">What <span style="color: #2F80ED;">We Offer</span></h1>
    <div class="row column mx-auto">
      <div class="col card-group column">
        <div class="card px-3 py-0 text-justify column">
          <div class="row card-body px-5 py-4">
            <img class="image-fluid col-md-3 offer-img" src="assets/images/ICONS/We offer/product.svg" alt="Services">
            <span class="col-md-9">Product design</span>
            <p class="mt-2">
              We cultivate a new product through magnification concepts having unique ideas, which impact in very
              broad coefficients and active creations of the final product for your business.
            </p>
          </div>
        </div>
      </div>
      <div class="col card-group column">
        <div class="card px-3 py-0 text-justify column">
          <div class="row card-body px-5 py-4">
            <img class="image-fluid col-md-3 offer-img" src="assets/images/ICONS/We offer/ui-design.svg" alt="Services">
            <span class="col-md-9">UI /UX Design</span>
            <p class="mt-2">
              UX stands for user experience.
              UI stands for the user interface.
              Like both X and I are inadequate without U for its significant usage.
              Intending for the perfect usage for the users. we build a harmonious design.
            </p>
          </div>
        </div>
      </div>
      <div class="col card-group column">
        <div class="card px-3 py-0 text-justify">
          <div class="row card-body px-5 py-4">
            <img class="image-fluid col-md-3 offer-img" src="assets/images/ICONS/We offer/Web development.svg" alt="Services">
            <span class="col-md-9">Web Development</span>
            <p class="mt-2">
              From developing a scratch till maintaining its imprudence. we develop a great noticing, easily
              customisable efficient usable, seamless user experience website as per your requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 px-5 column padding mx-auto">
      <div class="col-md-6 card-group column">
        <div class="card px-3 py-0 text-justify">
          <div class="row card-body px-5 py-4">
            <img class="image-fluid col-md-2 offer-img" src="assets/images/ICONS/We offer/app-development.svg" alt="Services">
            <span class="col-md-10">App Development</span>
            <p class="mt-2">
              We assure easy function with more convenience, which helps in bringing major traffic for your product.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 card-group">
        <div class="card px-3 py-0 text-justify">
          <div class="row card-body px-5 py-4">
            <img class="image-fluid col-md-2 offer-img" src="assets/images/ICONS/We offer/Ecommerce.svg" alt="Services">
            <span class="col-md-10">E-Commerce</span>
            <p class="mt-2">
              Bridging the gap between you and consumers, we provide the best platform which connects you to
              more consumers for your trade.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Why go for swirlly -->
  <div class="container-fluid my-5 bg-light padding">
    <div class="container mx-auto row py-5">
      <div class="col-md-8">
        <h1>Why Go <span style="color: #2F80ED;">For Swirlly</span></h1>
        <h4>
          Our specialised IT development team works with you, from ideation, research, strategy, design,
          development till launch to create world-class responsive products world-class responsive products.
        </h4>
        <p class="mt-5 text-capitalize"> <i class="fas fa-atom"></i> &nbsp; Best services are accessible at reasonable prices.
        </p>
        <p class="text-capitalize"> <i class="fas fa-atom"></i> &nbsp; Helps you create an unwearying digital
          solution.</p>
        <p class="text-capitalize"> <i class="fas fa-atom"></i> &nbsp; create your own market.</p>
        <p class="text-capitalize"> <i class="fas fa-atom"></i> &nbsp; effortless use.</p>
        <p class="text-capitalize"> <i class="fas fa-atom"></i> &nbsp; customised and tailored by your choice.
        </p>
      </div>
      <div class="col-md-4 mt-3">
        <img class="image-fluid text-center mob-img" src="assets/images/ICONS/For Swirlly/startup.png" alt="Services">
      </div>
    </div>
  </div>
