/* You can add global styles to this file, and also import other style files */
html{  
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    width: 0.4em;
  }

  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
   
  *::-webkit-scrollbar-thumb {
    background-color: rgba(47,128,237,1);
      border-radius: 60px;
      height: 8em;
    
  }