<div class="margin">
  <div class="container mx-auto">
    <h1 class="text-center">Our <span style="color: #2F80ED;">Team</span></h1>

    <div class="row team text-center">
      <div class="col-md-2">
        <div class="border card curve-border">
          <img class="image-fluid mx-auto mt-5 mb-4" src="assets/images/ICONS/team/nidhey.png" alt="">
          <div class="mb-4">
            <span><b>Nidhey Indurkar</b></span><br>
            <span>Full Stack Developer</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="border card curve-border">
          <img class="image-fluid mx-auto mt-5 mb-4" src="assets/images/ICONS/team/Ritwik.png" alt="">
          <div class="mb-4">
            <span><b>Ritwik Chavhan</b></span><br>
            <span>Web Developer</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="border card curve-border">
          <img class="image-fluid mx-auto mt-5 mb-4" src="assets/images/ICONS/team/Kadir.png" alt="">
          <div class="mb-4">
            <span><b>Kadir Sheikh</b></span><br>
            <span>Web Developer</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="border card curve-border">
          <img class="image-fluid mx-auto mt-5 mb-4" src="assets/images/ICONS/team/mayuri.png" alt="">
          <div class="mb-4">
            <span><b>Mayuri Wandhe</b></span><br>
            <span>Front-End Developer</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="border card curve-border">
          <img class="image-fluid mx-auto mt-5 mb-4" src="assets/images/ICONS/team/Shubhangi.png" alt="">
          <div class="mb-4">
            <span><b>Shubhangi Hasoriya</b></span><br>
            <span>UI/UX Designer</span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="border card curve-border">
          <img class="image-fluid mx-auto mt-5 mb-4" src="assets/images/ICONS/team/IMG-20201102-WA0043.jpg" alt="">
          <div class="mb-4">
            <span><b>Sarthak kore</b></span><br>
            <span>Mobile App developer</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Client Counts -->

  <div class="container-fluid pt-5 my-5 mobile-img">
    <div class="container mx-auto row counter mt-5 text-center text-white">
      <div class="col-md-4 my-auto">
        <img class="image-fluid mt-5" src="assets/images/ICONS/Counter/Clients.svg" alt="">
        <h1 class="font-weight-bold">4+</h1>
        <h3>Happy Clients</h3>
      </div>
      <div class="col-md-4">
        <img class="image-fluid mt-5" src="assets/images/ICONS/Counter/Projects.svg" alt="">
        <h1 class="font-weight-bold">5+</h1>
        <h3>Projects</h3>
      </div>
      <div class="col-md-4">
        <img class="image-fluid mt-5" src="assets/images/ICONS/Counter/Website.png" alt="">
        <h1 class="font-weight-bold">6</h1>
        <h3>Site Visitors</h3>
      </div>
    </div>
  </div>
</div>
