*{
  font-family: 'Varela Round', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold;
  margin-bottom: 3%;
}

.margin{
  margin-top: 4%;
}

.team .curve-border{
   border-radius: 12px;
}

.team .card{
  transition: all 0.8s;
}

.team img{
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
}

.team .card:hover{
  transform: scale(1.2);
  transition: all 0.8s;
}

.counter img {
  height: 6em;
  width: auto;
}

.mobile-img {
  background: url('src/assets/images/ICONS/Counter/bg.png') no-repeat;
  height: 70vh;
  background-size: 100% 400px;
}


@media screen and (max-width: 768px) {
  .mobile-img {
    background-size: 1457px 820px !important;
    height: 152vh !important;
  }
  .counter img {
    height: 2.8em;
    width: auto;
    margin-top: 1%;
  }

  .curve-border{
    margin-bottom: 4%;
  }
}
