<div class="container-fluid home">
  <div class="home-content my-auto">
    <!-- <h1 style="font-size: 3.5em;">SWIRLLY</h1> -->
    <h2 class="typewrite display-1 font-weight-bold mb-2" data-period="2000" data-type='[ "SWIRLLY", "You Need We Make"]'>
      <span class="wrap"></span>
    </h2>
    <p style="font-size: 1.6em;">Swirlly is a place where you can find IT and Designing Solution which perfectly suit
      your requirements.</p><br>
    <button  class="btn btn-white text-dark px-4 py-2" style="border-radius: 8px;font-size: 18px;font-weight: 500;">Get Started!</button>
      <p><i class="fas fa-angle-down fa-3x mt-4"></i></p>

  </div>
</div>
